.fondo-1{
	background-image: url("../img/marcella.jpg");
	height: 100vh;
	background-position: center top;
	background-repeat: no-repeat;
}
.logo_1{
	height: 150px;
	margin-top: 100px;
}
.navbar-fixed-bottom{
	margin-bottom: 50px;
}
.btn-success{
	background-color: none;
}